# macOS
.DS_Store

# Xcode
xcuserdata/
DerivedData/
*.xcscmblueprint
*.xccheckout

# SPM
.build/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/configuration/registries.json
Packages/

# Other
.netrc
*.log

# Agent
.agent/
